* {
  font-weight: 500;
}
.relatedProductsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1%;
  row-gap: 4%;
  width: 80%;
  margin: auto;
  font-family: "quicksand";
}

.productCard {
  margin: 0.4%;
}

.productCard img {
  width: 100%;
  border-radius: 8px;
}

.productCard h1,
h2,
h3 {
  margin: 0;
  font-size: 140%;
  line-height: 24px;
}
.productCard-info {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  gap: 0.2rem;
}
@media screen and (max-width: 768px) {
  .relatedProductsContainer {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 96%;
  }

  .productCard h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 100%;
  }
}
