* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "quicksand";
}

.swiperHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Henri Didot", sans-serif;
  justify-content: center;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}
#swiperMainHeading {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 4px;
}
.swiperHeadingText {
  font-size: 24px;
  font-weight: 400;
}
.swiperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.swiper {
  width: 100%;
  font-family: "Henri Didot";
  letter-spacing: 0.1em;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  margin-top: 10px;
  overflow: hidden;
  width: 90%;
  height: 620px;
}

.newContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.innerContainer img {
  cursor: pointer;
  width: full;
  height: 500px;
  /* width: 600px; */
  object-fit: cover;
  transition: all 0.3s ease;
}

.innerContainer img:hover {
  transform: scale(1.05);
}
.swiperHr {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: rgb(170, 165, 165);
  margin-bottom: 20px;
}

.newContainer div:nth-child(2) {
  width: full;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.newContainer p {
  color: grey;
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
  width: 100%;
}

.newContainer p:nth-child(4) {
  transform: translateY(-2px);
}

.newContainer div:nth-child(2) {
  margin-bottom: 4px;
}

.btn:active,
.btn:hover,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.btn::before,
.btn::after {
  position: absolute;
  content: "";
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

.btn-2::before {
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease-out;
}

.btn-2 span {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s;
}

.btn-2 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
}
.btn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}

.btn.hover-slide-right:hover::before {
  width: 100%;
}

/* btn3  */

.btn-3::before {
  background-color: transparent;
  transition: 0.3s ease-out;
}

.btn-3 span {
  color: white;
  background-color: black;
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s;
}

.btn-3 span:hover {
  color: black;
  background-color: transparent;
  transition: 0.2s 0.1s;
}

.imageSection {
  color: white;
  margin-top: 50px;
  background-color: black;
}
.imageGridContainer {
  display: grid;
  margin: 0px 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.grid-item {
  background-color: #f0f0f0;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.btnContainer {
  position: absolute;
  bottom: 20px;
  left: 22%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  gap: 20px;
}
.gridImageHeading {
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
}
.btnContainer .btn:hover {
  background-color: rgba(255, 255, 255, 1);
}
.WomenSection {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
  padding-bottom: 4rem;
}
.WomenSectionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Optional: adds space between grid items */
}
.newsletterSection {
  font-family: "Henri Didot";
  letter-spacing: 0.1em;
}
.newsletterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.newsletterContainer h1 {
  letter-spacing: 0.3em;
}
.newsletterFormInputContainer {
  width: 300px;
  height: 50px;
  border: 1px solid #ddd;
}
.newsletterFormInputContainer input {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.newsletterFormContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.collectionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: fit-content;
}

.collectionContainer .grid-item {
  background-color: #f0f0f0;
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
}

.collectionContainer .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.newsletterHeading {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

@media (max-width: 1200px) {
  .imageGridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .imageGridContainer .grid-item:nth-child(9) {
    display: none;
    /* inline-size: 0; */
  }
}
.WomenSection #swiperMainHeading {
  font-size: 50px;
}

@media (max-width: 850px) {
  .imageGridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}
@media (max-width: 620px) {
  .WomenSectionContainer {
    margin-top: 20px;
  }
  .WomenSection #swiperMainHeading {
    font-size: 22px;
  }
  .WomenSection swiperHeadingText {
    font-size: 12px;
  }
  #women1 {
    transform: translateY(-50px);
  }
}

@media (max-width: 1000px) {
  .mySwiper {
    width: 95%;
    height: 500px;
  }
  .newsletterFormContainer {
    flex-direction: column;
  }

  .innerContainer {
    height: 400px;
  }

  .innerContainer img {
    height: 400px;
  }

  .newContainer div:nth-child(2) {
    font-size: 14px;
  }

  .newContainer p {
    font-size: 10px;
  }
  #swiperMainHeading {
    font-size: 32px;
  }
  .swiperHeadingText {
    font-size: 16px;
  }
  .imageSection #swiperMainHeading {
    font-size: 32px;
  }
  .imageSection .swiperHeadingText {
    font-size: 16px;
  }

  .WomenSectionContainer {
    grid-template-columns: 1fr; /* 1 column */
    /* grid-template-rows: auto; */
  }
  #women2 {
    display: none;
  }
  #women3 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .swiper-slide {
    width: 80% !important;
    height: 400px;
  }
  .card {
    max-width: 100%;
    margin: 0 auto;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .swiper-slide h1 {
    font-size: 12px;
  }

  .swiper-slide p {
    display: none;
  }
  .collectionContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 1200px) {
  .swiper-slide h1 {
    font-size: 12px;
  }

  .swiper-slide p {
    display: none;
  }
}
@media (max-width: 520px) {
  #swiperMainHeading {
    font-size: 32px;
  }
  .swiperHeadingText {
    font-size: 16px;
  }
}
